.navbar {
    background-color: #1976d2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.navbar h2 {
    margin: 0;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}