.App{
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
}

table{
    border-collapse:collapse;
    margin-top:10px;
}

th{
    background-color:#4CAF50;
    color:white;
}

th,td{
    padding:8px 15px;
}