<h1>Available Courses</h1>

<!-- Loading -->
<p *ngIf="isLoading">
  Loading courses...
</p>

<!-- Content after loading -->
<div *ngIf="!isLoading">

  <ng-container *ngIf="courses.length > 0; else noCourses">

    <app-course-card
      *ngFor="let course of courses; trackBy: trackByCourseId"
      [course]="course"
      (enrollRequested)="onEnroll($event)"
      appHighlight="lightblue">
    </app-course-card>

  </ng-container>

</div>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>

<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>