<h2>Reactive Enrollment Form</h2>

<form
[formGroup]="enrollForm"
(ngSubmit)="submit()">

<label>Name</label>

<input
type="text"
formControlName="studentName">

<div
*ngIf="enrollForm.get('studentName')?.touched
&&
enrollForm.get('studentName')?.invalid">

Invalid Name

</div>

<br><br>

<label>Email</label>

<input
type="email"
formControlName="studentEmail">

<br><br>

<label>Course ID</label>

<input
type="text"
formControlName="courseId">

<div
*ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']">

Course code starting with XX is not allowed.

</div>

<br><br>

<label>Semester</label>

<select
formControlName="preferredSemester">

<option>Odd</option>

<option>Even</option>

</select>

<br><br>

<label>

<input
type="checkbox"
formControlName="agreeToTerms">

Agree To Terms

</label>

<br><br>

<h3>Additional Courses</h3>

<button
type="button"
(click)="addCourse()">

Add Another Course

</button>

<div
formArrayName="additionalCourses">

<div
*ngFor="let ctrl of additionalCourses.controls;let i=index">

<input
[formControlName]="i">

<button
type="button"
(click)="removeCourse(i)">

Remove

</button>

</div>

</div>

<br>

<button
type="submit"
[disabled]="enrollForm.invalid">

Submit

</button>

</form>