h1{

color:#1976d2;

}

input,
select{

display:block;

padding:8px;

width:300px;

margin-top:5px;

}

.ng-invalid.ng-touched{

border:2px solid red;

}

.ng-valid.ng-touched{

border:2px solid green;

}

span{

color:red;

font-size:14px;

}

.success{

margin-top:20px;

padding:10px;

background:#d4edda;

color:green;

border:1px solid green;

width:350px;

}

button{

margin-right:10px;

padding:8px 15px;

}