<div

class="card"

[ngClass]="cardClasses"

[ngStyle]="{

'border-left':

course.gradeStatus=='passed'
?'6px solid green'

:course.gradeStatus=='failed'
?'6px solid red'

:'6px solid gray'

}"

>

<h2>{{course.name}}</h2>

<p>ID : {{course.id}}</p>

<p>Code : {{course.code}}</p>

<p>{{course.credits | creditLabel}}</p>

<div [ngSwitch]="course.gradeStatus">

<span *ngSwitchCase="'passed'">

✅ Passed

</span>

<span *ngSwitchCase="'failed'">

❌ Failed

</span>

<span *ngSwitchDefault>

⏳ Pending

</span>

</div>

<br>

<button
(click)="toggleDetails()">

Show Details

</button>

<button

(click)="enrollRequested.emit(course.id)"

>

Enroll

</button>

</div>