.card{

padding:20px;

margin:15px;

border:1px solid #ccc;

border-radius:8px;

transition:.3s;

}

.card--enrolled{

background:#d9ffd9;

}

.card--full{

font-weight:bold;

}

.expanded{

min-height:220px;

}